:root {
  --max-width: 1200px;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
}

h1 {
  margin: 5px 0;
}
header {
  background: linear-gradient(45deg, #0798ab99, transparent);
}

p {
  text-indent: 2em;
  text-align: justify;
}

#header-wrapper {
  min-height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}

#header-info {
  flex: 1;
  padding: 10px;
}

#my-picture {
  padding: 5px;
  width: 108px;
  height: 108px;
}
#my-picture img {
  border-radius: 50%;
  border: 4px solid #fff;
  transition: 0.5s;
}
#my-picture img:hover {
  border-radius: 50% 5px;
  border-color: #0798ab;
}

#content {
  flex: 4;
  display: flex;
  flex-direction: row;
  max-width: var(--max-width);
  width: 100%;
  margin: 0 auto;
}

#side-menu {
  flex: 1;
  padding: 10px 5px 5px 10px;
}
#side-menu > section {
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

#side-menu > section h2 {
  margin: 0 0 10px 0;
  color: #057988;
}

#main {
  flex: 4;
  padding: 10px 10px 5px 5px;
  display: flex;
  flex-direction: column;
}

footer {
  padding: 10px 10px 8px 10px;
  background-color: #057988;
  color: #f5f5f5;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  gap: 5px;
}
footer a {
  color: #f5f5f5;
  padding: 2px 5px;
  border-radius: 0.2em;
  transition: 0.5s;
}

footer a:hover {
  text-decoration: none;
  background-color: #0798ab;
}

.my-picture {
  padding: 5px;
  width: 108px;
  height: 108px;
}
.my-picture {
  border-radius: 50%;
  border: 4px solid #fff;
}
.page {
  display: none;
  padding: 24px;
  background: #fff;
  margin-bottom: 10px;
  box-shadow: 0 0 0 1px rgb(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}
.page h2 {
  margin: 0;
}
.favourite {
  color: #f00;
  font-weight: bold;
}

button {
  padding: 2px 8px;
  cursor: pointer;
  font-size: 1em;
  border: 1px solid #0798ab;
  background: transparent;
  border-radius: 2px;
  color: #1c2130;
}

button.primary-action {
  background-color: #0798ab;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  border-radius: 3px;
  border: 1px solid #343434;
  padding: 3px 8px;
}
button.primary-action:hover {
  background-color: #057988;
}

#top-menu-bar {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #334455;
  color: #fff;
}
#top-menu-bar li {
  display: inline;
  padding: 0;
  margin: 0;
}
#top-menu-bar a {
  text-decoration: none;
  color: #fff;
  padding: 0 15px 0 15px;
  display: inline-block;
  margin: 4px 0;
  border-radius: 0.2em;
  transition: 0.5s;
}
#top-menu-bar a:visited {
  color: #fff;
}
#top-menu-bar a:hover,
#top-menu-bar a.active {
  background-color: #057988;
  color: #fff;
}
.rubik-face {
  background-color: #0d0d0d;
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 200px;
  padding: 4px;
  grid-gap: 4px;
}

#rubikSize {
  width: 35px;
}

.rubik-face > div {
  border: 1px solid #0d0d0d33;
  padding-top: 100%;
  background-color: white;
  border-radius: 0.2em;
}
.toolbar {
  padding-bottom: 4px;
  display: flex;
  gap: 5px;
}
.toolbar input[type="number"] {
  font-size: 1.4em;
}
#toggle-dark-mode {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 4px 6px;
}
#toggle-dark-mode svg {
  width: 20px;
  height: 20px;
}
.toggle-dark-mode-icon.sun {
  display: none;
}
.dark-mode .toggle-dark-mode-icon.moon {
  display: none;
}
.dark-mode .toggle-dark-mode-icon.sun {
  display: block;
}
body.dark-mode {
  background-color: #383b40;
  color: #eeeeee;
}
.dark-mode #top-menu-bar {
  background-color: #2d2f34;
}
.dark-mode #top-menu-bar a.active,
.dark-mode #top-menu-bar a:hover {
  background-color: #0556f3;
}
.dark-mode .page {
  background-color: #1c2130;
}
.dark-mode header {
  background: linear-gradient(45deg, #2d2f3499, transparent);
}
.dark-mode .text-carousel-wrap {
  color: #a3dae2;
}
.dark-mode #job-title {
  color: #f5f5f5;
}
.dark-mode a {
  color: #b0e7ff;
}
.dark-mode #side-menu > section h2 {
  color: #f5f5f5;
}
.dark-mode .rubik-face > div {
  color: #000000;
}
.dark-mode th {
  background: #2d2f34;
}
.dark-mode .page > h2,
.dark-mode .page > h3 {
  color: #f5f5f5;
}
.dark-mode input,
.dark-mode textarea {
  color: #ffffffde;
  background: none;
  border: 1px solid #ffffff33;
}
.dark-mode a.page-actions,
.dark-mode button {
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  border-radius: 2px;
  color: #f5f5f5;
}
.dark-mode a.page-actions {
  background-color: #0798ab;
}
.dark-mode button.primary-action {
  background-color: #0798ab;
}
.dark-mode #udemy-cover p {
  text-shadow: 1px 1px 2px #3d3f3b;
}
.dark-mode #skills li span {
  color: #c5bcbc;
}
.dark-mode .favorite {
  color: #8bcb88;
}
.dark-mode footer {
  background-color: #1f2023;
}
@media (max-width: 600px) {
  body {
    font-size: 1em;
  }
  #top-menu-bar a {
    padding: 5px 10px 5px 10px;
  }
  #content {
    flex-direction: column-reverse;
  }
  #text-carousel {
    min-height: 42px;
  }
  .text-carousel-wrap {
    font-size: 10px;
    line-height: 14px;
  }
}
@media (max-width: 800px) {
  #my-course {
    flex-direction: column-reverse;
  }
}
